<html ng-app = "ChatApp">
    <head>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src = "../angular.js"></script>
        <script src = "../controller/controlRegister.js"></script>
        <link rel = "stylesheet" href = "../css/stylesheet.css">
        <title>Reset Password Page</title>
    </head>
<body ng-controller = "controlResetPassword">

<form ng-app = "resetPassword" id="myform" name = "resetPassword" novalidate>
<center>
<h2>Reset Password</h2>
        <p>Password :<br>
            <input type = "password" name = "password" ng-model = "password" required >
            <span class = "showPassword" ng-click = "togglePassword()"></span>
            </span>
            </p>
        

        <p>Confirm password :<br>
            <input type = "password" name = "cpassword" ng-model = "cpassword" valid-cpassword = "password" required>
            </p>
        <p>
            <input type = "submit" class="button" ng-click = "resetPasswordUser()">
        </p>
    </center>
</form>
</body>
</html>
